sdvx_*er/*
dist/*
build*
to_bin/*
*.spec
*.log
*.pyc
__pycache__/*
sdvx_helper/*
tmp/*
jackets/*
*.zip
*.png
!resources/result_mode_score.png
log/*
params_secret.py
src/portal_secret.py
portal_secret.txt
out/*
debug/*
config.json
.env
sdvx_helper.db
results/*
